@font-face {
    font-family: storica;
    src: url(Storica-Regular.ttf);
}
@font-face {
    font-family: typographica;
    src: url(Typographica-Blp5.ttf);
}
@font-face{
    font-family: caviar;
    src: url(CaviarDreams-Wr2O.ttf);
}
@font-face {
    font-family: edition;
    src: url(Edition-BxnV.ttf);
}
.sub-page1{
    
    font-family: storica;
    font-size: 14px;
}


title:hover{
    background-size: 0 3px, 100% 3px;
}

#header-txt{
    text-align:center;
     font-size: 95px;
  
  background-image: linear-gradient(to bottom left, #461959, #9d74ae);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: edition;
  letter-spacing: 1px;
  transition: 500ms;
  
}

#header-txt:hover{
    letter-spacing: 2px;
    text-shadow: #553c9a;
    
}

#advances{
    
    background-color: #FFDBC3;
    padding:20px;
    overflow: hidden;
    display: inline-block;
    margin-right: 20px;
    width:300px;
    margin-top: 20px;
    text-align: center;
    background-image:linear-gradient(#804f95c0, #875a9c3e),url("advance-jpg.jpg");
    z-index: 5;
    color:#AED8CC;
    box-shadow: 17px 18px 37px 9px rgba(0,0,0,0.75);
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    transition: 500ms;
}
#advances:hover{
    background-image:linear-gradient( rgba(0, 0, 3, 0.957), rgba(20, 19, 20, 0.744)),url("advance-jpg.jpg");
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(5, 63, 77);
    transform: translateY(-15px);
   
}
.contact{
    background-image:linear-gradient(#7a3d94c0, #875a9c3e),url("contact-us-img.jpg");
    padding:20px;
    overflow: hidden;
    display:inline-block;
    width:300px;
    margin-top: 20px;
    text-align: center;
    box-shadow:  17px 18px 37px 9px rgba(0,0,0,0.75);
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    font-size: 32px;
    transition: 500ms;
    
}

.contact:hover{
    transform: translateY(-15px);
    background-image:linear-gradient( rgba(0, 0, 3, 0.957), rgba(20, 19, 20, 0.744)),url("contact-us-img.jpg");
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(5, 63, 77);
}
.flex-container{
    display: flex;
   
    
    padding-bottom: 20px;
    margin-top: 100px;
   
  height: 350px;
  justify-content: center;
  
  
  
}

#contact{
    margin-top:60px;
    color:#AED8CC;
}

#explore-button{
 margin-top:30px;
}

#map{
    box-shadow:  17px 18px 37px 9px rgba(0,0,0,0.75);
    background-color: none;
}
